*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7
}
/* Additional style for images in services list */
.services-list div img {
    width: 300px; /* Set the desired width */
    height: 100px; /* Set the desired height */
    object-fit: contain; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 20px; /* Add some space below the image */
}

/* Add styles for the new coursework */
.coursework {
    color: #0ef;
    font-size: 24px;
    margin-top: 15px;
}

.course-list {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}

.course-list li {
    margin-bottom: 10px;
}


.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var);
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.services-list div:hover{
    transform: translateY(-25px);
}
.container {
    padding: 90px;
}
.btn-box, .read {
    padding: 8px 18px;
    font-size: 14px;
}
.btn-box, .read {
    padding: 10px 20px;
    font-size: 14px;
}
